@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    font-family: Roboto, sans-serif;
}

.blueBg{
    background: #1F2937;
}

.hero,
.carrusel{
    padding-bottom: 100px;
    
}

.hero-img{
    width: 400px;
    height: auto;
}

.hero-main-text{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;  
    margin-bottom: 0; 

}

.upper p {
    margin: 0;
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 16px;
}

.upper{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 8px;
    
}

button{
    background-color: #3882f6;
    border: none;
    color: #f9faf8;
    text-align: center;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 900;
    padding: 8px 30px;
}

.slimWidth{
    padding-left: 200px;
    padding-right: 200px;
}

.header{
    display: flex;
    justify-content: space-between;
}

.header-logo{
    height: 52px;
}

.header-menu{
    list-style: none;
    padding: 0;
    display: flex;
    display: flex;
    gap: 16px;
}

.header-menu li{
    color: #e5e7eb;
}

.slimestWidth{
    padding-left: 280px;
    padding-right: 300px;
}

.carrusel{
    padding-top: 32px;
}

.carrusel h2{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 64px;
    text-align: center;
}

.cards{
    display: flex;
    gap:8px;
    justify-content: space-between;
}
cards
.card{
    width: 150px;
}
.card-img{
    width: 100%;
    border-radius: 8px;
}

.card-text{
    margin-top: 8px;
    color: #1F2937;
    text-align: center;
    font-weight: 400;
}

.quote{
    background-color: #e5e7eb;
    padding-top: 100px;   
    padding-bottom: 100px;
}

.quote-text{
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}

.quote-writer{
    text-align: end;
    font-size: 20px;
    font-weight: 600;
    color: #1F2937;
}

.sing{
    padding-top: 75px;
    padding-bottom: 75px;
}

.sing-box{
    background-color: #2b7cff;
    display: flex;
    justify-content: space-between;
    padding: 40px 70px;
    border-radius: 8px;
}

.sing-box p{
    color: #f9faf8;
}

.sing-box button{
    background-color: #2b7cff;
    border-color: #f9faf8;
    border: 2px solid;
}

.sing-box-text-title{
    margin: 0;
    font-weight: 700;
    font-size: 22px;
}

.sing-box-text{
    margin: 0;
    color: #28292c;
    font-weight: 300;
    margin-top: 8px;
}

.footer{
    padding: 16px;
    display: flex;
    justify-content: center;
    color: #f9faf8;
}
